h1#titleScreenH1 {
	color: #fff;
	font-style: italic;
	text-align: center;
}

div#titleScreenStartButton {
    border-color: white;
    border-style: solid;
    border-width: 1px;
    width: 250px;
}

div#titleScreen {
	width: 50%;
	height: 50%;
	border-color: white;
	border-style: solid;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

p#titleScreenStartButtonText {
	color: #fff;
	text-align: center;
	font-size: 50px;
	margin: 0;
}